 a.l:link,
 a.l:visited
{
color: #000; 
background-color: #e1e0e0;
text-decoration: underline;
/* border: 1px solid #333; */
padding: 2px;
}

 a.l:hover
{
color: #000; 
background-color: #ffd146;
text-decoration: none;
}

body {
	width:95%;
	margin:0 auto;
	margin-top:100px;
	text-align: left;
	font: 13px/22px "Î¢ÈíÑÅºÚ", "ºÚÌå", Arial, Helvetica, sans-serif;
    color: #3E4042;
	background: #f9f9f9 url(../images/bg.png) repeat-x 0 0;
} 

/* LOGO */
#logo {
	width:95%;
	background: url("../images/logo.png") no-repeat 0 0;
	width: 239px;
	height: 77px;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	position: absolute;
	float: left;
	top: 4px;
	padding:1px;
}

/* ----- HEADER ----- */ 
#header {
	height:auto;
	background-color:#f7f7f7;
	padding:10px;
	margin-left:auto;
    margin-right:auto;
}
 
/* ----- MAIN CONTENT ----- */
.content { 
width:95%;
background-color:#F9F9F9;
padding:10px;
margin-top:10px;
margin-left:auto;
margin-right:auto;
height:auto;
border: 1px solid #424A50;
color: #3E4042;
}
 
/* ----- FOOTER ----- */
#footer { 
width:95%;
height:auto;
background-color:#343B40;
margin-top:10px;
margin-left:auto;
margin-right:auto;
padding:10px;
color: #a1a5a7;
}

.desc {
	font-size: 16px;
}

.important {
	color: #FF7300;
}
.box{
	width:100%;
	position:relative;
	-moz-box-shadow:0px 0px 10px #aaa;
	-webkit-box-shadow:0px 0px 10px #aaa;
	-box-shadow:0px 0px 10px #aaa;
}

/************************************************/
ul.ldd_menu{
	margin:0px;
	padding:0;
	display:block;
	height:50px;
	background-color:#D04528;
	list-style:none;
	font-family:"Trebuchet MS", sans-serif;
	border-top:1px solid #EF593B;
	border-bottom:1px solid #EF593B;
	border-left:10px solid #D04528;
	-moz-box-shadow:0px 3px 4px #591E12;
	-webkit-box-shadow:0px 3px 4px #591E12;
	-box-shadow:0px 3px 4px #591E12;
}
ul.ldd_menu a{
	text-decoration:none;
}
ul.ldd_menu > li{
	float:left;
	position:relative;
}
ul.ldd_menu > li > span{
	float:left;
	color:#fff;
	background-color:#D04528;
	height:50px;
	line-height:50px;
	cursor:default;
	padding:0px 20px;
	text-shadow:0px 0px 1px #fff;
	border-right:1px solid #DF7B61;
	border-left:1px solid #C44D37;
}

ul.ldd_menu > li > span > a{
	float:left;
	color:#fff;
	background-color:#D04528;
	height:50px;
	line-height:50px;
	padding:0px 20px;
	text-shadow:0px 0px 1px #fff;
}

ul.ldd_menu .ldd_submenu{
	position:absolute;
	top:50px;
	width:550px;
	display:none;
	opacity:0.95;
	left:0px;
	font-size:10px;
	background: #C34328;
	border-top:1px solid #EF593B;
	-moz-box-shadow:0px 3px 4px #591E12 inset;
	-webkit-box-shadow:0px 3px 4px #591E12 inset;
	-box-shadow:0px 3px 4px #591E12 inset;
}
a.ldd_subfoot{
	background-color:#f0f0f0;
	color:#444;
	display:block;
	clear:both;
	padding:15px 20px;
	text-transform:uppercase;
	font-family: Arial, serif;
	font-size:12px;
	text-shadow:0px 0px 1px #fff;
	-moz-box-shadow:0px 0px 2px #777 inset;
	-webkit-box-shadow:0px 0px 2px #777 inset;
	-box-shadow:0px 0px 2px #777 inset;
}
ul.ldd_menu ul{
	list-style:none;
	float:left;
	border-left:1px solid #DF7B61;
	margin:20px 0px 10px 30px;
	padding:10px;
}
li.ldd_heading{
	font-family: Georgia, serif;
	font-size: 13px;
	font-style: italic;
	color:#FFB39F;
	text-shadow:0px 0px 1px #B03E23;
	padding:0px 0px 10px 0px;
}
ul.ldd_menu ul li a{
	font-family: Arial, serif;
	font-size:10px;
	line-height:20px;
	color:#fff;
	padding:1px 3px;
}
ul.ldd_menu ul li a:hover{
	-moz-box-shadow:0px 0px 2px #333;
	-webkit-box-shadow:0px 0px 2px #333;
	box-shadow:0px 0px 2px #333;
	background:#AF412B;
}